<!DOCTYPE html>
<html lang="en-us">
    <head>
        <!--script data-ad-client="ca-pub-4728561531308703" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script-->
        <title>Healer Words</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Views/CSSs/healerWords.css" type="text/css">
        <link rel="icon" href="Views/Images/icon.png" type="image/x-icon">
        <script src="Controller/jquery-3.6.0.min.js"></script>
        <script src="Controller/healerwords.js"></script>
        <meta name="description" content="Healer Words é uma ferramenta gratuita para ajudar qualquer um a se sentir melhor sobre
              a vida ou consigo mesmo, com frases que um pode encontrar algum tipo de empatia, pertencimento, conforto, 
              motivação, etc.">
        <meta name="keywords" content="Healer Words, healer words, healerwords, motivacional, autoestima, depressão">
        <meta name="author" content="Thiago Mendes">
    </head>
    <body>
        
        
        
        
        <div id="main-content">
            <h1 id="main-logo" title="Healer Words">Healer Words</h1>
            <div id="result">
                <ins id="healerwords">
                </ins>
            </div>
            <nav id="social-media-sharing">
            </nav>
            
            
            <a href="index.php?lang=pt-br" id="main-button" title="Você quer se sentir melhor? Tente novas Healer Words!">
                <span class="animated-text">Só mais uma</span>
            </a>
        </div>
        
        
        
        
        
        <div id="top-nav">
            <nav id="lang-nav">
                <ul class="nav-list langs-list">
                    <li class="itens-list" title="Healer Words in English">
                        <a href="index.php?lang=en-us" class="lang-itens">EN-US</a>
                    </li>
                    <li class="itens-list" title="Healer Words em Portugês">
                        <a href="index.php?lang=pt-br" class="lang-itens">PT-BR</a>
                    </li>
                </ul>
            </nav>
        </div>
            


        
        <aside class="banners">
            
        </aside>
        
        
        
        
        <div class="content" id="healer-words">
            <h2 class="title-content" title="Healer Words">Healer Words</h2>
            <p>
                <strong>Healer Words</strong> é uma ferramenta gratuita para ajudar qualquer um 
                a se sentir melhor sobre a vida ou consigo mesmo, com frases que um pode encontrar 
                algum tipo de <strong>empatia, pertencimento, conforto, motivação</strong>, etc. 
            </p>
            <p>
                Essa ferramenta está oferecendo, agora, <ins id="qnt-healer-words"></ins> frases que são 
                chamadas de <em>Healer Words</em>. Elas são embaralhadas e mostradas uma a uma.  
                Você pode recarregar a página ou apertar o botão acima para pegar novas <em>Healer Words</em>. 
                Ela é gratuita e o objetivo é ajudar você a se sentir melhor para, então, alcançar seus objetivos.
            </p>
            <p>
                Essa é a razão que <strong>Healer Words</strong> nasceu. <strong>Helaer Words</strong> 
                será atualizado, trazendo frases que possam <em>curar sua "alma" e "coração"</em>.
            </p>
            <p>
                No texto abaixo você pode encontrar respostas que te ajudem a aceitar sua busca 
                por <em>motivacional, amor próprio, depressão e autoestima</em>.
            </p>
        </div>
        
        
        
        <aside class="banners">
            
        </aside>
        
        
        
        <div class="content" id="motivational">
            <h3 class="title-content" title="Motivacional">Motivacional</h3>
            <p>
                Todo mundo que já viveu um pouco, sabe como a vida pode ser dura às vezes, e
                que essas vezes, às vezes, parecem durar uma eternidade para passar, estreitando 
                nossa perspectiva sobre o futuro, fazendo-nos esquecer de coisas "boas" que 
                aconteceram, acontecem ou acontecerão na vida, perdendo empatia com outros e 
                consigo mesmo.
            </p>
            <p>
                Como <em>Eddie Harmon-Jones, Tom F. Price and Philip A. Gable</em> disseram em
                <em>A Influência dos Estados Afetivos no Abrangimento/Afinamento Cognitivo:
                    Considerando a Importância da Intensidade Motivacional</em>:
            </p>
            <ins class="others-text">
                <em>
                    "Décadas de pesquisas sugerem que estados positivos de afeição abrangem os 
                    processos cognitivos, enquanto estados negativos de afeição estreitam 
                    os processos cognitivos."
                </em>
            </ins>
            <p>
                A palavra <em>motivacional</em> tem sido demonizada ao ponto que pessoas sentem-se
                envergonhadas até de procurar. <em>Motivacional</em> é uma ferramenta/técnica 
                utilizada de muitas formas, que consiste em dar, a um, razões ou "força" para 
                alcançar seus objetivos. Algumas empresas, para  alcançarem seus objetivos, tentam 
                aplicar essas técnicas em seus empregados, como descrito no jornal: 
                <em>ASA University Review, Vol. 8 No. 1, January-June, 2014</em>.
            </p>
            <p>
                Não há razão para um sentir vergonha na busca de um jeito para sentir-se melhor e ajudar a si 
                mesmo. <em>Amor próprio</em> é uma coisa difícil de compreender, já que podemos observar que há 
                muitas formas de ser aplicado esse termo.
            </p>
        </div>
        
        
        
        <aside class="banners">
            
        </aside>
        
  
        
        <div class="content" id="self-love">
            <h3 class="title-content" title="Amor Próprio">Amor Próprio</h3>
            <p>
                O ser humano é um animal condicionado à afeto, e não é raro observar pessoas a 
                nossa volta ou até nós mesmos "fazendo coisas pelo outros", tentando ser aceito 
                pelo grupo ou não se sentir tão "alienado" desses em volta. Não há problema em 
                aceitar este condicionamento do ser humano, isso é normal. O problema nisto, é que, 
                nessa jornada de "ser aceito pelos outros", um tende a esquecer de <em>si mesmo, 
                do amor próprio e do auto respeito</em>.
            </p>
            <p>
                Como <em>Alasdair C. MacIntyre</em> disse em <em>Animais Racionais Dependentes: 
                    Por que Seres Humanos Precisam de Virtudes</em>:
            </p>
            <ins class="others-text">
                <em>
                    "Depender de outros é geralmente reconhecido, normalmente como algo necessário 
                    para alcançarmos nossos objetivos positivos."
                </em>
            </ins>
            <p>
                Neste processo que foi descrito, fica fácil de entender o "vazio" que um constrói 
                para si próprio. Nesse processo, de ignorar a si mesmo, faz um pensar, geralmete errado, 
                que ele/ela está sendo útil para outros, até mesmo usado/a, somente porque é inútil para
                si mesmo. Perdendo empatia por si e, com certesa, por esses a volta.
            </p>
            <p>
                Uma vez chegado nesse ponto, o ponto onde perdeu a empatia por si e, em consequência, 
                por esses a volta, fazendo coisas somente para ficar "parecido/a" com nossos "amigos", 
                podemos lembrar o que <em>Lippit, J</em> disse sobre amizade, considerando 
                <em>Kierkegaard</em>, em <em>Quebrando o espelho: nas preocupações de Kierkegaard sobre 
                    amizade</em>:
            </p>
            <ins class="others-text">
                <em>
                    "O reforço de Kierkegaard, na antiga ideia de amizade como um "segundo eu", 
                    envolve uma comum, mas errada suposição: que amizade depende muito de similaridades 
                    entre os amigos."
                </em>
            </ins>
            <p>
                Por causa dessa suposição errada sobre amizade, que mesmo nas "maiores festas", cercado 
                de pessoas, amigos ou não, esse tende a se sentir sozinho, um sinal de <em>depressão</em> 
                e, se pensar no consumo de redes sociais, você pode perceber que a solidão está mais 
                relacionada a ausência de si que a ausência de outras pessoas.
            </p>
        </div>
        
        
        
        <aside class="banners">
            
        </aside>
        
        
        
        <div class="content" id="depression">
            <h3 class="title-content" title="Depressão">Depressão</h3>
            <p>
                Como pudemos ver no último título, não somente é fácil encontrar "justificativas" 
                sobre o comportamento de um entre seus "amigos", como fica fácil imaginar uma 
                medida de <em>auto depredação</em>. Esta atitude, às vezes, assume a forma que 
                o único jeito de "pensar em si mesmo" é quando esse está fazendo algo "ruim" 
                para outras pessoas, numa espécie de grito de liberdade, onde mostra a perda de 
                empatia.
            </p>
            <p>
                Esta situação provoca muito dano à <em>autoestima</em>, ao ponto que sobra nada de bom para esperar 
                por. Esse dano na <em>autoestima</em> causa reações comuns, relfetindo em <em>depressão</em> e 
                outros <em>problemas sociais</em>. Sabendo que a ideia de emoções terem "baixos" e "altos" são 
                imaginárias, transformemos ela em verdade para o propósito de explicação. Se vermos a vida como uma 
                eterna repetição de si mesmo, como uma "queda" eterna na direção que se auto colocou ou foi jogado, 
                nós podemos usar uma lei da física que <em>James B. Hartle</em> usou em <em>Teoria de Tudo e 
                a Função de Onda do Universo de Hawking</em>:
            </p>
            <ins class="others-text">
                <em>
                    "Tudo cai exatamente do mesmo jeito. A regra é universal. Sem exceções!"
                </em>
            </ins>
            <p>
                Geralemte, é tentado separar as razões do desenvolvimento da <em>depressão</em>, onde 
                há razões genéticas e razões externas. Impossivel é, negar que ambas são verdadeiras, ambas 
                existem, mas ambas tem algo em comum, o <em>próprio sujeito</em>. É muito difícil, para não falar 
                imppossível, medir quanto dano a <em>autoestima</em> de uma pessoa pode suportar até começar a "cair 
                na direção baixa", ou muito ingênuo para falar a "quantidade certa" que um deve suportar. As razões 
                que podem desencadear essa "queda" são muitas, e <em>Shravam Paswan</em> listou algumas no jornal 
                <em>Depressão - Sintomas, Causas, Medicações e Terapias</em>, que são: uma perda séria, 
                doença crônica, <em>relacionamentos difíceis</em>, problemas financeiros ou qualquer mudança 
                indesejada.
            </p>
        </div>
        
        
        
        <aside class="banners">
            
        </aside>
        
        
        
        <div class="content" id="self-esteem">
            <h3 class="title-content">Autoestima</h3>
            <p>
                A <em>autoestima</em> é de importância sumária na vida, a capacidade de um 
                pensar em seus desejos e encontrar "força" para alcançar seus obejtivos. Nós 
                podemos usar como prova de que pessoas desenvolvendo <em>depressão</em> ou 
                com baixa <em>autestima</em> perdem sua empatia por aqueles a sua volta, 
                observando aquilo que <em>Nicholas Emler</em> disse em <em>Autoestima: Os custos 
                e causas da baixa auto valorização</em>:
            </p>
            <ins class="others-text">
                <em>
                    "... a ideia que muitas crianças, muitas mesmo, estão crescendo com uma ideia 
                    que elas não tem valor, e que, com seu senso ferido de seu próprio valor, faz com 
                    que elas se tornem violentas consigo mesmas e com outros."
                </em>
            </ins>
            <p>
                O estudo mostrou sua relação com pessoas jovens, mas é fácil ver essa "raiva" 
                e "hostilidade" com outros e consigo na idade adulta e até adiante. 
                Podemos, então, presumir que essa postura não é somente adquirida na infância, 
                mas pode, também, ser adquirida mais tarde ou carregada desde a infância. Como mostrado 
                no título da <em>depressão</em>, podemos perceber que isto e baixa <em>autoestima</em> 
                podem ser adquiridas por diversas razões, genéticas ou 
                eventos externos, que engatilham elas. Sabendo que esse comportamento tende a ser 
                consistente, repetitivo,o comportamento de auto depredação, colocaremos isso no escopo 
                de "queda" eterna, e acrescentemos um "ruim", uma queda ruim.
            </p>
            <p>
                Percebendo tudo que foi dito até agora, podemos ver como uma pessoa consegue 
                "jogar" contra si mesma, onde eu gosto de destacar em 
                <em>aceitação social</em>. Aquela pessoa que coloca a si mesmo nesta direção ou é 
                colocada nela, normalmente não percebe os efeitos que trarão pra si, "caindo" na 
                <em>inércia</em>, a primeira lei do movimento de Newton. Entendendo que o sujeito pode não 
                ter "força" para se auto tirar dessa "queda", por causa da <em>baixa autoestima, depressão</em>, 
                o próprio sujeito pode precisar de um gatilho/força para mudar/parar a direção que cai.
            </p>
            <p>
                Foi assim que essa ideia, <em>Healer Words</em>, nasceu. Eu fiz essa ferramenta para ajudar 
                outros a terem pelo menos um "vislumbre" de força para mudar/parar essa queda, e como essa 
                ferramenta tem uma "cara boa", eu peço que a use com cuidado. O uso de <em>motivacional</em> 
                pode parecer inofensivo, mas ela pode provocar dependência, estreitando a perspectiva. Como os 
                autores, já citados, disseram em <em>A Influência dos Estados Afetivos no Abrangimento/Afinamento 
                Cognitivo: Considerando a Importância da Intensidade Motivatcional</em>:
            </p>
            <ins class="others-text">
                <em>
                    "Nós postulamos que o estreitamento ocorre em estados afetivos de  <b>grande instensidade 
                    motivacional</b> para ajudar os organismos a adquirirem o obejto de desejo ou evitar 
                    os de aversão."
                </em>
            </ins>
        </div>
        
        
        
        <aside class="banners">
            
        </aside>
        
        
        <div class="content">
            <ins class="others-text last-entry">
                <em>
                    "Se houvesse uma bala mágica que pudesse transformar a vida de um jovem, essa desveria ser 
                    uma pílula restida com autoestima. Esta poderosa e, ainda sim, frágil é a chave para o 
                    futuro de adolescente."
                </em>
                <em class="font-refe">
                    (Katz, 2000, p.7)
                </em>
            </ins>
        </div>
        
        
        
        <footer>
            <div id="foot-message">
                <p>Aproveite!</p>
                <img src="Views/Images/icon.png" alt="Healer Words">
            </div>
        </footer>
        
        
        
        <a href="#nav-anchors" title="Abrir menu de atalhos" class="btn-to-left" id="btn-nav-anchors"></a>


        <nav id="nav-anchors">
            <ul id="anchors-list">
                <li  title="Aprender sobre Healer Words?">
                    <a href="#healer-words">Healer Words</a>
                </li>
                <li title="Aprender sobre Morivacional?">
                    <a href="#motivational">Motivacional</a>
                </li>
                <li title="Aprender sobre Amor Própio?">
                    <a href="#self-love">Amor Própio</a>
                </li>
                <li title="Aprender sobre Depressão?">
                    <a href="#depression">Depressão</a>
                </li>
                <li title="Aprender sobre Autoestima?">
                    <a href="#self-esteem">Autoestima</a>
                </li>
            </ul>
            
            
            
            
            <ul id="bot-anchors">
                <li title="Voltar ao topo?">
                    <a href="#top-nav">Voltar ao topo</a>
                </li>
                <li title="Fechar esse menu?">
                    <a href="#close">Fechar</a>
                </li>
            </ul>
        </nav>
        
        
        
        <a href="#shop-list" class="btn-to-right" id="open-shop" title="Ver Agradecimento Especial"></a>
        
        <aside id="shop-list">
            <ins id="shop-content">
                <p class="title-content">Agardecimento Especial</p>
                <p class="text-content">
                    O desenvolvimento dessa ferramenta, somente foi possível graças ao 
                    auxílio (e paciência) de dois grandes amigos meus. Muito obrigado a 
                    vocês dois:
                </p>
                <p class="friends">
                    Rodrigo Chaves e Leandro Venâncio
                </p>
            </ins>
            <a href="#close" class="btn-to-left" id="close-shop" title="Fechar"></a>
        </aside>
    </body>
</html>
