<!DOCTYPE html>
<html lang="en-us">
    <head>
                <!-- Google Tag Manager -->
        <!--script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'}); 
            var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);}
                )(window,document,'script','dataLayer','GTM-T7JBKR7');</script-->
        <!-- End Google Tag Manager -->
        <!--script data-ad-client="ca-pub-4728561531308703" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script-->
        <title>Healer Words</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Views/CSSs/healerWords.css" type="text/css">
        <link rel="icon" href="Views/Images/icon.png" type="image/x-icon">
        <script src="Controller/jquery-3.6.0.min.js"></script>
        <script src="Controller/healerwords.js"></script>
        <meta name="description" content="Healer Words is a free tool to help anyone feel better about
              life or oneself, with phrases that one may find some kind of empathy, belonging, comfort, 
              motivational, etc.">
        <meta name="keywords" content="Healer Words, healer words, healerwords, motivational, self-esteem, depression">
        <meta name="author" content="Thiago Mendes">
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <!--noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7JBKR7" height="0" 
                          width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        
        
        <div id="main-content">
            <h1 id="main-logo" title="Healer Words">Healer Words</h1>
            <div id="result">
                <ins id="healerwords">
                </ins>
            </div>
            <nav id="social-media-sharing">
            </nav>
            
            
            <a href="index.php?lang=en-us" id="main-button" title="Do you want to feel better? Try new Healer Words!">
                <span class="animated-text">Just one more</span>
            </a>
        </div>
        
        
        
        
        
        
        <div id="top-nav">
            <nav id="lang-nav">
                <ul class="nav-list langs-list">
                    <li class="itens-list" title="Healer Words in English">
                        <a href="index.php?lang=en-us" class="lang-itens">EN-US</a>
                    </li>
                    <li class="itens-list" title="Healer Words em Portugês">
                        <a href="index.php?lang=pt-br" class="lang-itens">PT-BR</a>
                    </li>
                </ul>
            </nav>
        </div>
            
        
        
        
        
        <aside class="banners">
            
        </aside>
        
        
        
        
        
        <div class="content">
            <h2 class="title-content" title="Healer Words">Healer Words</h2>
            <p>
                <strong>Healer Words</strong> is a free tool to help anyone feel better about life
                or oneself, with phrases that one may find some kind of <strong>empathy,
                belonging, comfort, motivational</strong>, etc. 
            </p>
            <p>
                This tool is offering right now <ins id="qnt-healer-words"></ins> phrases that are been
                called <em>Healer Words</em>. They are shuffled and showed one by one. You may reload 
                the page or push the button above to get new <em>Healer Words</em>. It is free and the
                objective is to help you feel better to, then, achieve your goals.
            </p>
            <p>
                That is the reason that <strong>Healer Words</strong> was born. Healer Words will
                be updating to bring short phrases that may <em>heal your "soul" and "heart"</em>.
            </p>
            <p>In the text below this point you may find answers that will give acceptance for your
                search about <em>motivational, self love, depression and self-esteem</em>.
            </p>
        </div>
        
        
        
        <aside class="banners">
            
        </aside>
        
        
        
        <div class="content">
            <h3 class="title-content" title="Motivational">Motivational</h3>
            <p>
                Everyone that has lived a bit knows how life can be hard sometimes, and
                sometimes, this times, seems to take an eternity to pass, narrowing our perspective over 
                the future, making us forget "good" things that happened, happens or will happen in life,
                losing empathy with other and even ourselves.</p>
            <p>
                Like <em>Eddie Harmon-Jones, Tom F. Price and Philip A. Gable</em> said in
                <em>The Influence of Affective States on Cognitive Broadening/Narrowing: 
                Considering The Importance of Motivational Intensity</em>:
            </p>
            <ins class="others-text">
                <em>
                    "Decades of research suggested that positive affective states broaden 
                    cognitive processes, whereas negative affective states narrow cognitive
                    processes."
                </em>
            </ins>
            <p>
                The <em>motivational</em> word had been demonized to the point that people
                feel ashamed even to search. <em>Motivational</em> is a tool/technique used in a lot of ways that consists
                in give, one, reasons or "strength" to achieve his/her goals. Some business companies try to
                employ this techniques to achieve their goals with their employees, like described in the journal: 
                <em>ASA University Review, Vol. 8 No. 1, January-June, 2014</em>.
            </p>
            <p>
                There is no reason to one be ashamed in search of a way for him/herself to feel better over oneself and
                to help the same. <em>Self love</em> is a hard thing to comprehend, like can be observed that there are 
                a lot of ways that is employed this term.
            </p>
        </div>
        
        
        
        <aside class="banners">
            
        </aside>
        
  
        
        <div class="content">
            <h3 class="title-content" title="Self Love">Self Love</h3>
            <p>
                The human being is an animal conditioned to affection and it is not rare to see 
                people around us or even ourselves "doing things for other ones", trying to be 
                accepted by the group or not feel so "alien" to those around. There is no problem 
                in accept this conditioning of the human being, it is usual. The problem about 
                that, is that, in this journey of "being accepted by others", one tends to forget 
                about the <em>"self", self love and self respect</em>.
            </p>
            <p>
                Like <em>Alasdair C. MacIntyre</em> says in <em>Dependent Rational Animals: Why 
                Human Beings Need the Virtues</em>:
            </p>
            <ins class="others-text">
                <em>
                    "Dependence on others is of course often recognized in a general way, usually 
                    as something that we need to achieve our positive goals."
                </em>
            </ins>
            <p>
                In this process that was described, it stands easy to understand the "emptiness" that
                one builds for him/herself. In this process of ignore the self makes one think, 
                usually wrong, that he/she is being useful to another, even used, just because is useless to 
                him/herself. Losing empathy for self, and, of course, to those around.
            </p>
            <p>
                Once one arrives at this point, the point where one loses empathy for him/herself, and, 
                in consequence, for the ones around, doing things just to seem "like" our "friends", 
                we can remember what <em>Lippit, J</em> said about friendship, regarding 
                <em>Kierkegaard</em>, in <em>Cracking the mirror: on Kierkegaard’s concerns 
                    about friendship</em>:
            </p>
            <ins class="others-text">
                <em>
                    "Kierkegaard’s endorsement of the ancient idea of the friend as “second self” 
                    involves a common but misguided assumption: that friendship depends largely 
                    upon likeness between friends."
                </em>
            </ins>
            <p>
                Because of this misguided assumption about friendship, that even in the "biggest 
                party", surrounded by people, friends or not, one tends to feel loneliness, a sign 
                of <em>depression</em>, and, if you think about social medias consumption, you can 
                realize that loneliness is more about the absence of oneself then in the absence of 
                other ones.
            </p>
        </div>
        
        
        
        <aside class="banners">
            
        </aside>
        
        
        
        <div class="content">
            <h3 class="title-content" title="Depression">Depression</h3>
            <p>
                As we could see in the later title, not only is easy to find "justifications" 
                about one's behavior among "friends", as it stands easy to imagine a measure 
                over the <em>self depredation</em>. This attitude, sometimes, assumes the form
                that the only time that one "thinks in him/herself" is when doing something 
                "bad" to other one, in a kind of freedom's scream, where shows the lost of
                empathy to other ones.
            </p>
            <p>
                This situation provokes a lot of damage to <em>self-esteem</em>, to the point that is left nothing 
                good to be expecting for. This damage in the <em>self-esteem</em> causes commonly reactions 
                reflecting in <em>depression</em> and other <em>social problems</em>. Knowing that the idea of 
                emotions having "lows" and "highs" are imaginary, we could turn it to true just for explanatory 
                purposes. If we see life as an eternal repetition of oneself, like an eternal "falling" in 
                the direction that one self set or was throwed at, we could use an physics's law that <em>James 
                    B. Hartle</em> used in <em>Theories of Everything and Hawking's Waving Function of the Universe</em>:
            </p>
            <ins class="others-text">
                <em>
                    "Everything falls in exactly the same way. The regularity is universal. No exceptions!"
                </em>
            </ins>
            <p>
                Usually is tried to separate the development's reasons of <em>depression</em>, where 
                there are genetic reasons and external reasons. Impossible is to deny that both are true,
                both exists, but both have one thing in common, the <strong>own subject</strong>. It's very hard, 
                to not tell impossible, to measure how much damage the <em>self-esteem</em> of one person can hold 
                till it starts "falling" in the "low direction", or very much naive to tell the "right amount" of 
                damage that one should supports. The reasons that can trigger this "falling" are many, and 
                <em>Shravam Paswan</em> enlisted some in the journal <em>Depression - Symptons, Causes, 
                    Medications and Therapies</em>, that are: a serious loss, chronic illness, <em>difficult 
                    relationship</em>, financial problems or any unwelcome change.
            </p>
        </div>
        
        
        
        <aside class="banners">
            
        </aside>
        
        
        
        <div class="content">
            <h3 class="title-content">Self-Esteem</h3>
            <p>
                The <em>self-esteem</em> is of summarily importance in life, the capacity of 
                one think in his/her wishes and find "strength" to achieve their goals. 
                We could use as evidence that people developing or with <em>depression</em> or 
                low <em>self-esteem</em> loses their empathy with the ones around, looking what 
                <em>Nicholas Emler</em> told in <em>Self-esteem: The costs and causes of low 
                self-worth</em>:
            </p>
            <ins class="others-text">
                <em>
                    "... the idea that many children, rather too many, are now growing with a sense 
                    that they have no value, and that their damaged sense of their own worth in turn 
                    causes them to do violence to themselves and others."
                </em>
            </ins>
            <p>
                The study showed its relationship with young people, but is easy to see this 
                "anger" and "hostility" with others and oneself in adulthood and even later on. 
                So we can assume that this posture is not only acquired in childhood, but can, 
                too, be acquired later on or carried from since childhood. As showed in the 
                <em>depression</em>'s title, we could see that it and low <em>self-esteem</em> can 
                be acquired by many reasons, genetical or outside events, 
                that triggers them. Knowing that this behavior tend to be consistent, repetitious, 
                the behavior of self-depredation, we will put it into the scope of eternal "falling", 
                and add to it a "bad", bad falling.
            </p>
            <p>
                Realising all that was said till now, we can see how a person can "play" against 
                him/herself, where I like to highlight in <em>social acceptance</em>. 
                The one that "puts" him/herself in that direction, or is throwed at it, usually 
                don't realize the effects that will bring to self, "falling" in the <em>inertia</em>, 
                Newton's first law of motion. Understanding that the subject may not have "strength" to 
                self took off this "falling's direction", because of <em>low self-esteem, depression</em>, 
                the own subject may need an external trigger/force to change/stop the falling's direction.
            </p>
            <p>
                That is when this idea, <em>Healer Words</em>, was born. I've made this tool to help others 
                to get at least a "glimpse" of strength to change/stop this falling, and how this tool has a 
                "good face", I must ask you to use it carefully. The use of <em>motivational</em> may seem 
                harmless, but it may provoke addictiveness, narrowing the perspective. Like the authors 
                already cited before said in <em>The Influence of Affective States on Cognitive 
                Broadening/Narrowing: Considering the Importance of Motivational Intensity</em>:
            </p>
            <ins class="others-text">
                <em>
                    "We posit that narrowing occurs during affective states of <b>high motivational 
                        intensity</b> to aid organism in acquiring desirable objects or avoid aversive ones."
                </em>
            </ins>
        </div>
        
        
        
        <aside class="banners">
            
        </aside>
        
        
        <div class="content">
            <ins class="others-text last-entry">
                <em>
                    "If there were ever a magic bullet that could transform a young person's life it would be 
                    a pill coated with self-esteem. This powerful yet fragile quality is the key to the 
                    future for a teenager."
                </em>
                <em class="font-refe">
                    (Katz, 2000, p.7)
                </em>
            </ins>
        </div>
        
        
        
        <footer>
            <div id="foot-message">
                <p>Enjoy your life!</p>
                <img src="Views/Images/icon.png" alt="Healer Words">
            </div>
        </footer>
        
        
        
        <a href="#nav-anchors" title="Open shortcuts menu?" class="btn-to-left" id="btn-nav-anchors"></a>


        <nav id="nav-anchors">
            <ul id="anchors-list">
                <li  title="Lear about Healer Words?">
                    <a href="#healer-words">Healer Words</a>
                </li>
                <li title="Lear abou Morivational?">
                    <a href="#motivational">Motivational</a>
                </li>
                <li title="Lear about Self Love?">
                    <a href="#self-love">Self Love</a>
                </li>
                <li title="Lear about Depression?">
                    <a href="#depression">Depression</a>
                </li>
                <li title="Lear about Self-Esteem?">
                    <a href="#self-esteem">Self-Esteem</a>
                </li>
            </ul>
            
            
            
            
            <ul id="bot-anchors">
                <li title="Back to top?">
                    <a href="#top-nav">Back to top</a>
                </li>
                <li title="Close menu?">
                    <a href="#close">Close</a>
                </li>
            </ul>
        </nav>
        
        
        
        <a href="#shop-list" class="btn-to-right" id="open-shop" title="See especial thanks"></a>
        
        <aside id="shop-list">
            <ins id="shop-content">
                <p class="title-content">Special Thanks</p>
                <p class="text-content">
                    The development of this tool was only possible thanks to the help 
                    (and patience) from two great friends of mine. Thank you very much, 
                    both of you:
                </p>
                <p class="friends">
                    Rodrigo Chaves e Leandro Venâncio
                </p>
            </ins>
            <a href="#close" class="btn-to-left" id="close-shop" title="Fechar"></a>
        </aside>
    </body>
</html>
